.masonry-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: -16px; /* Ensure consistent gap at the top */
}

.masonry-item {
  flex: 1;
  min-width: calc(33.333% - 16px);
  transition: all 0.3s ease;
}

.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

@media (max-width: 800px) {
  .masonry-item {
    min-width: calc(50% - 16px);
  }
}

@media (max-width: 500px) {
  .masonry-item {
    min-width: 100%;
  }
}

.masonry-item:hover {
  transform: scale(1.05);
  z-index: 1;
}
