 /* clinify_front/src/app/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

#root, #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.disable-touch-on-mobile {
  pointer-events: none;
  overflow: hidden;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Styles for the cookie consent banner */
.cookie-consent-container {
  background-color: #004d4d; /* Dark teal color (teal-900) */
  color: #ffffff; /* White text */
  padding: 20px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow for more depth */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Accept button */
.cookie-consent-button {
  color: #ffffff; /* White text */
  background-color: #008080; /* Teal color (teal-900) */
  border-radius: 5px;
  padding: 12px 24px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.cookie-consent-button:hover {
  background-color: #00b3b3; /* Lighter teal color (teal-500) */
}

/* Decline button */
.cookie-consent-decline-button {
  color: #ffffff; /* White text */
  background-color: #343232; /* Neutral dark gray */
  border-radius: 5px;
  padding: 12px 24px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.cookie-consent-decline-button:hover {
  background-color: #777777; /* Lighter gray */
}

/* Link to privacy policy */
.cookie-consent-link {
  color: #ebff09; /* Gold color for the link to stand out */
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive layout for smaller screens */
@media (max-width: 600px) {
  .cookie-consent-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .cookie-consent-button,
  .cookie-consent-decline-button {
    margin-top: 10px;
    width: 100%;
  }
}


