 /* clinify_front/src/app/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

#root, #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.disable-touch-on-mobile {
  pointer-events: none;
  overflow: hidden;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.cookie-consent-container {
  background-color: #ffffff;
  color: #2c3e50;
  padding: 16px 24px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border-top: 1px solid #e0e0e0; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cookie-consent-content {
  flex: 1;
  margin-right: 20px;
}

/* Button styling */
.cookie-consent-button,
.cookie-consent-decline-button {
  background-color: #005580; 
  color: #ffffff; 
  padding: 12px 24px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.cookie-consent-button:hover,
.cookie-consent-decline-button:hover {
  background-color: #004766;
  transform: translateY(-1px);
}

.cookie-consent-button:active,
.cookie-consent-decline-button:active {
  transform: translateY(0);
}

/* Link styling */
.cookie-consent-link {
  color: #005580; 
  text-decoration: underline;
  cursor: pointer;
}

.cookie-consent-link:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  .cookie-consent-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .cookie-consent-content {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .cookie-consent-button,
  .cookie-consent-decline-button {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  
}

@keyframes glow {
  0% { text-shadow: 0 0 5px #ffdd57, 0 0 10px #ffdd57, 0 0 15px #ffdd57, 0 0 20px #ffdd57; }
  50% { text-shadow: 0 0 15px #ffdd57, 0 0 20px #ffdd57, 0 0 25px #ffdd57, 0 0 30px #ffdd57; }
  100% { text-shadow: 0 0 5px #ffdd57, 0 0 10px #ffdd57, 0 0 15px #ffdd57, 0 0 20px #ffdd57; }
}
.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

