   .service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 50px;
   
  }
  
  .service-item {
    text-align: center;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-25px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  }
  
  .service-item.fade-in {
    opacity: 1;
    transform: translateX(0);
  }
  
  .service-item:nth-child(4n + 1),
  .service-item:nth-child(4n + 5) {
    transition-delay: 0s;
  }
  
  .service-item:nth-child(4n + 2),
  .service-item:nth-child(4n + 6) {
    transition-delay: 0.35s;
  }
  
  .service-item:nth-child(4n + 3),
  .service-item:nth-child(4n + 7) {
    transition-delay: 0.65s;
  }
  
  .service-item:nth-child(4n),
  .service-item:nth-child(4n + 8) {
    transition-delay: 0.9s;
  }
  .service-item:hover {
    transform: translateY(-12px);
    transition: transform 0.3s ease-in-out;
  }
  .service-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #2196F3 */
    border: 3px solid #45ac8b
  }

  .service-icon {
    width: 100px;
    height: 100px;
  }

  .service-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .service-description {
    font-size: 14px;
    color: #777;
  }

  @media screen and (max-width: 1024px) {
    .service-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .service-icon-container{
        width: 140px;
        height: 140px;
    }
  }

  @media screen and (max-width: 550px) {
    .service-grid {
      grid-template-columns: 1fr;
    }
    .service-icon-container {
      width: 120px;
      height: 120px;
    }
    .service-icon {
        width: 80px;
        height: 80px;
      }
  }